body
{
	margin: 0;
	background-image: url(/images/background.jpg); 
}
#signIn
{
	padding: 10px;
	width: 200px;
	height: 160px;
	top: calc(50% - 81px);
    left: calc(50% - 111px);
	background-color: lightgrey;
	border:1px solid;
    border-radius:10px;
	text-align: center;
	position: absolute;
	font-size: 18px;
	font-family: "楷体","楷体_GB2312";
}
#uploadForm
{
	padding: 10px;
	width: 200px;
	height: 140px;
	top: calc(50% - 81px);
    left: calc(50% - 111px);
	background-color: lightgrey;
	border:1px solid;
    border-radius:10px;
	text-align: center;
	position: absolute;
	line-height: 28px;
}
#goods
{
	margin: 20px;
	padding: 20px;
	border: 3px solid black;
	background-color: white;
}
.goods
{
	display:inline-block;
	height: 256px;
	width: 256px;
	margin: 5px;
	cursor:pointer;
	border: 6px solid white;
}
.goods:hover
{
	border-color: lightskyblue;
}
#detail
{
    left: calc(50% - 128px);
    position: absolute;
}
#backlogin
{
	top: calc(50% + 100px);
    left: calc(50% - 20px);
    position: absolute;
}
#detail{
	position: absolute;
	left: calc(50% - 375px)
}
#topLabel
{
	height: 48px;
	width: 100%;
	background-color: #1b1b1b;
	opacity: 0.4;
}
#topHeader
{
	height: 240px;
	background-image: url(/images/topheader.jpg);
}
#the_message{
	left: 40px;
	top: 0px;
	height: 48px;
	position: absolute;
	display: inline-block;
}
#the_message_black
{
	left: 40px;
	top: 0px;
	height: 48px;
	width: 200px;
	position: absolute;
	display: inline-block;
}
.topText
{
	height: 48px;
	width: 100px; 
	line-height: 48px;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	font-family: "楷体","楷体_GB2312";
	color: #ffffff;
	cursor:pointer;
}
.topText:hover
{
	background-color: #000000;
}
#addfile,#backlogin
{
	position: absolute;
	top: 192px;
	left: 40px;
}
.loginText
{
	margin: 10px;
	height: 40px;
	width: 80px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	font-family: "楷体","楷体_GB2312";
	color: white;
	background-color: #728134;
	cursor:pointer;
}
.loginText:hover
{
	background-color: rgb(200, 200, 100);
}
#back_top
{
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	background-image: url(/images/top.png);
	cursor:pointer;
}