.hot_goods {
    position: relative;
    &_header {
        font-size: 36px;
        font-family: '楷体';
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: default;
    }
    &_connect {
        display: flex;
        justify-content: space-around;
    }
}