@header_image_path: url(../imgs/header/header.png);
@address_image_path: url(../imgs/icon/address.png);
@phone_image_path: url(../imgs/icon/phone.png);
@email_image_path: url(../imgs/icon/email.png);
@footer_address_image_path: url(../imgs/icon/footer_address.png);
@footer_phone_image_path: url(../imgs/icon/footer_phone.png);
@footer_email_image_path: url(../imgs/icon/footer_email.png);
@sign_image_path: url(../imgs/icon/sign.png);
@icon2_image_path: url(../imgs/icon/icon2.jpg);
@arrow_image_path: url(../imgs/icon/arrow.png);
@faxin_image_path: url(../imgs/icon/faxin.png);
@erweima_image_path: url(../imgs/icon/erweima.png);
@weixin_image_path: url(../imgs/icon/weixin.png);
@standard_image_path: url(../imgs/icon/standard.jpg);
@name_icon_image_path: url(../imgs/icon/name_icon.png);
@sales_net_image_path: url(../imgs/icon/world.png);
@header_height: 240px;
@footer_height: 150px;
@back_width: 1160px;

@keyframes moving{
    0%{left: -120px}
    20%{left: -120px}
    60%{left: 350px}
    100%{left: 350px}
}