.body_index, .body_about {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 1000px;
}

.watchlater {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 5px;
    bottom: 3px;
    width: 22px;
    height: 22px;
    &.add {
        background: @watchlater1_image_path;
    }
    &.delete {
        background: @watchlater2_image_path;
    }
}

.title {
    &_image {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: @icons_image_path -140px -76px;
    }
    &_word {
        position: relative;
        top: -12px;
        left: 10px;
        display: inline-block;
        div {
            display: inline;
            font-size: 24px;
        }
        span {
            color: #6D757A;
            padding-left: 30px;
            font-size: 12px;
            &:hover {
                cursor: pointer;
                color: #00A1D6;
            }
        }
    }
}
