.body_index, .body_about {
    position: absolute;
    top: 48px;
    margin-top: 10px;
    width: 100%;
    z-index: -2;
}

.mobilePhone {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 300px;
    right: -80px;
    cursor: pointer;
    background: url(../imgs/header/animation.png);
}