.header {
    width: 100%;
    height: 170px;
    background: transparent @header_image_path no-repeat center;
}

.header_line {
    position: relative;
    width: 100%;
    height: 42px;
}

.header_line_under {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header_line_under_filter {
    height: 62px;
    width: 100%;
    position: relative;
    top: -4px;
    background: transparent @header_image_path no-repeat center;
    background-position: center 0px!important;
    filter: blur(5px);
}

.header_line_under_color {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.header_back {
    position: relative;
    top: -42px;
    width: 1160px;
    height: 100%;
    margin: auto;
}

.header_menu {
    position: relative;
    z-index: 1;
    height: 42px;
    width: 100%;
}

.header_menu_left {
    float: left;
}

.header_menu_right {
    float: right;
    .first .curtain {
        left: @menu_width_first / 2 - @child_menu_width / 2;
    }
    .second .curtain {
        left: @menu_width_second / 2 - @child_menu_width / 2;
    }
    .third .curtain {
        left: @menu_width_third / 2 - @child_menu_width / 2;
    }
}

#logo {
    background: @logo_image_path;
    position: absolute;
    z-index: 0;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
}

.menu {
    position: relative;
    display: inline-block;
    line-height: 42px;
    text-align: center;
    color: black;
    height: 42px;
}

.first {
    width: @menu_width_first;
}

.second {
    width: @menu_width_second;
}

.third {
    width: @menu_width_third;
}

.i-link {
    display: block;
    transition: background 0.2s;
    &:hover {
        background: rgba(255, 255, 255, 0.24);
    }
}

.submission .i-link {
    height: 48px;
    border-radius: 0 0 6px 6px;
    background: -webkit-linear-gradient(#F15C8D, #D5527D);
    color: white;
    font-size: 13px;
    &:hover {
        background: -webkit-linear-gradient(#FE84AC, #E17598);
    }
}

.submission_icon:hover + .header_menu_right .submission {
    .i-link {
        background: -webkit-linear-gradient(#FE84AC, #E17598);
    }
    .curtain {
        height: @child_menu_height;
    }
}

.home {
    background: @icons_image_path no-repeat -910px -74px;
    .i-link {
        padding-left: 20px;
    }
}

.curtain {
    position: absolute;
    text-align: left;
    width: @child_menu_width;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    transition: height 0.5s;
}

.menu:hover .curtain {
    height: @child_menu_height;
}

.userPortrait {
    float: right;
    margin-right: 20px;
}

.userPortrait_image {
    border-radius: 18px;
    margin-top: 3px;
    background: @userPortrait_image_path;
    width: @userPortrait_size_begin;
    height: @userPortrait_size_begin;
    background-size: 100% 100%;
    transition: all 0.3s;
    transition-delay: 0.3s;
    &:hover {
        cursor: pointer;
        transform-origin: 21px 0;
        transform: scale(2) translateY(10px);
        box-shadow: 0 0 3px 1px lightskyblue;
    }
}

.submission_icon {
    position: absolute;
    right: -53px;
    z-index: 10;
    top: 4px;
    width: 55px;
    height: 38px;
    background: @icon2_image_path;
}

.mobilePhone {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 300px;
    right: 50px;
    cursor: pointer;
    background: url(../imgs/header/animation.png);
}

.search {
    position: absolute;
    border-radius: 6px;
    padding: 2px;
    right: 0;
    bottom: 20px;
    width: 338px;
    height: 32px;
    background: rgba(0, 0, 0, 0.12);
}

.search_button {
    display: inline-block;
    border-radius: 4px;
    height: 100%;
    background: rgba(255, 255, 255, 0.88);
    &:hover {
        background: #fff;
    }
}

.search_rankList {
    width: 68px;
    margin-right: 2px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
}

.search_frame {
    position: absolute;
    border: 0;
    padding: 0;
    padding-left: 10px;
    height: 32px;
    width: 208px;
    padding-right: 50px;
    &:focus {
        outline: none;
    }
}

.search_rankList_image {
    display: inline-block;
    font-size: 12px;
    padding-left: 16px;
    line-height: 14px;
    text-align: right;
    width: 40px;
    height: 16px;
    color: #F25D8E;
    background: @icons_image_path -664px -663px no-repeat;
}

.magnifier {
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 0;
    width: 38px;
    height: 18px;
    background: @icons_image_path -663px -728px;
    &:hover {
        background-position: -728px -728px;
        cursor: pointer;
        + .search_button {
            background: #fff;
        }
    }
}