.header {
    width: 100%;
    height: 170px;
    background: transparent @header_image_path no-repeat center;
}

.header_line {
    position: relative;
    width: 100%;
    height: 42px;
}

.header_line_under {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header_line_under_filter {
    height: 62px;
    width: 100%;
    position: relative;
    top: -4px;
    background: transparent @header_image_path no-repeat center;
    background-position: center 0px!important;
    filter: blur(5px);
}

.header_line_under_color {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.header_back {
    position: relative;
    top: -42px;
    width: 980px;
    height: 100%;
    margin: auto;
}

.header_menu {
    position: relative;
    height: 42px;
    width: 100%;
}

.header_menu_left {
    width: 394px;
    float: left;
}

.header_menu_right {
    width: 339px;
    float: right;
    .first .curtain {
        left: @menu_width_first / 2 - @child_menu_width / 2;
    }
    .second .curtain {
        left: @menu_width_second / 2 - @child_menu_width / 2;
    }
    .third .curtain {
        left: @menu_width_third / 2 - @child_menu_width / 2;
    }
}

#logo {
    background: @logo_image_path;
    position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
}

.menu {
    position: relative;
    display: inline-block;
    line-height: 42px;
    text-align: center;
    color: black;
    height: 42px;
}

.first {
    width: @menu_width_first;
}

.second {
    width: @menu_width_second;
}

.third {
    width: @menu_width_third;
}

.i-link {
    display: block;
    transition: background 0.2s;
    &:hover {
        background: rgba(255, 255, 255, 0.24);
    }
}

.home {
    background: @icons_image_path no-repeat -910px -74px;
    .i-link {
        padding-left: 20px;
    }
}

.curtain {
    position: absolute;
    text-align: left;
    width: @child_menu_width;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    transition: height 0.5s;
}

.menu:hover .curtain {
    height: @child_menu_height;
}

.userPortrait {
    float: right;
    margin-right: 20px;
}

.userPortrait_image {
    border-radius: 18px;
    margin-top: 3px;
    background: @userPortrait_image_path;
    width: @userPortrait_size_begin;
    height: @userPortrait_size_begin;
    background-size: 100% 100%;
    transition: all 0.3s;
    transition-delay: 0.3s;
    &:hover {
        cursor: pointer;
        transform-origin: 21px 0;
        transform: scale(2) translateY(10px);
        box-shadow: 0 0 3px 1px lightskyblue;
    }
}

.animation {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 80px;
    left: 50px;
    cursor: pointer;
    background: url(../imgs/header/animation.png);
}

