@header_image_path: url(../imgs/header/header.png);
@icons_image_path: url(../imgs/icon/icons.png);
@icon2_image_path: url(../imgs/icon/up-new-iocn.png);
@logo_image_path: url(../imgs/header/logo.png);
@userPortrait_image_path: url(../imgs/header/alun.png);
//单个菜单栏宽度
@back_width: 1160px;
@menu_width_first: 70px;
@menu_width_second: 58px;
@menu_width_third: 46px;
//子菜单大小
@child_menu_height: 150px;
@child_menu_width: 200px;
//头像大小
@userPortrait_size_begin: 36px;
@userPortrait_size_after: 60px;