@header_image_path: url(../imgs/header/header.png);
@icons_image_path: url(../imgs/icon/icons.png);
@logo_image_path: url(../imgs/header/logo.png);
@userPortrait_image_path: url(../imgs/header/alun.png);
//单个菜单栏宽度
@menu_width_first: 70px;
@menu_width_second: 58px;
@menu_width_third: 46px;
//子菜单大小
@child_menu_height: 150px;
@child_menu_width: 200px;
//头像大小
@userPortrait_size_begin: 36px;
@userPortrait_size_after: 60px;
// .bgimgwhile(@counter) when (@counter < 5) {
//     .bgimg-@{counter} {
//         background-position: 80px * @counter;
//     }
// }

// .loop(@counter) when (@counter <= 16) {
//     .loop((@counter + 1));
//     // 递归调用自身
//     width: (10px * @counter); // 每次调用时产生的样式代码
// }

@keyframes skyset {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1200px;
    }
}