body
{
  margin: 0;
  background-image: url(/images/background.jpg);
}
#signIn
{
	padding: 10px;
	width: 200px;
	height: 140px;
	top: calc(50% - 81px);
    left: calc(50% - 111px);
	background-color: white;
	border:1px solid;
    border-radius:10px;
	text-align: center;
	position: absolute;
}
#uploadForm
{
	padding: 10px;
	width: 200px;
	height: 140px;
	top: calc(50% - 81px);
    left: calc(50% - 111px);
	background-color: white;
	border:1px solid;
    border-radius:10px;
	text-align: center;
	position: absolute;
	line-height: 35px;
}
#goods
{
	margin: 20px;
	padding: 20px;
}