extends layout

block content
  #signIn
    #userName.message
      | 用户名:
      input#name(type="text")
    #passWord.message
      | 密  码:
      input#psw(type="password")
    br
    #button
      button#signin.button 登录
      button#register.button 注册