extends layout

block content
  #goods
    - for(let i =0 ; i<goods.length ; i++){ 
    img(src="/images/goods/"+goods[i].goodsName+".jpg" id=goods[i].goodsName , onclick='toDetails(this)')
    - }
  script(src='/javascripts/goods.js')