extends layout

block content
  #signIn(onkeypress="if (event.key == 'Enter') {checkSend();}")
    #userName.message
      | 用户名:
      input#name.text(type="text")
    #passWord.message
      | 密  码:
      input#psw.text(type="password")
    br
    #button
      #signin.loginText(onclick='checkSend()') 登录
      #register.loginText(onclick='toRegister()') 注册
  script(src='/javascripts/checkuser.js')