extends layout

block content
  #signIn(onkeypress="if (event.keyCode == 13) {checkSend();}")
    #userName.message
      | 用户名:
      input#name.text(type="text")
     #passWord.message
      | 密  码:
      input#psw.text(type="password")
    br
    #button
      button#signin.button(onclick='checkSend()') 登录
      button#register.button(onclick='registerSend()') 注册
  script(src='/javascripts/checkuser.js')