doctype html
html
  head
    title 阿伦丶first_web
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.2.1.min.js')
  body
    #topHeader
      #topLabel
      #the_message
        #the_userName.topText
        #toExit.topText(onclick='deleteCookie()')
    script(src='/javascripts/alreadyLoad.js')
    block content