extends layout

block content
  #goods
    - for(let i =0 ; i<goods.length ; i++){
    div.goods
      img(src=goods[i].goodsPic , id=goods[i].goodsName , onclick='toDetails(this)')
    - }
  #addfile.topText(onclick='location="/goods/upload"') 添加商品
  #to_deletegoods.topText(onclick='location="/goods/delete"') 删除商品
  script(src='/javascripts/detail.js')