extends layout

block content
  #signIn(onkeypress="if (event.keyCode == 13) {checkSend();}")
    #userName.message
      | 用户名:
      input#name.text(type="text")
     #passWord.message
      | 密  码:
      input#psw.text(type="password")
    br
    #button
      #back_login.loginText(onclick='backLogin()') 返回
      #register.loginText(onclick='registerSend()') 去注册
  script(src='/javascripts/checkuser.js')