extends layout

block content
  form#uploadForm(method='POST', enctype='multipart/form-data', action='/goods/uploadgoods' , onsubmit="return checkUpFile(this)")
    | 商品名称:
    input#goodsName(type='text',name='goodsName')
    .uploadfile_button
      div 上传图片
      input#pic(type='file',name='pics')
    .uploadfile_button
      div 上传详情
      input#det(type='file',name='detail')
    input#tosend(type='submit', value='提交')
  #backlogin.topText(onclick='location="/users/login"') 返回
  script(src='/javascripts/goods.js')